#no-mobile{
    position: fixed;
    z-index:99;
    height: 100vh;
    background-color: var(--yellow);
    width: 100vw;;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    overflow-y: hidden;
}

@media screen and (max-width: 645px){
    #no-mobile {
        display: none;
    }
}
@media screen and (min-width: 645px){
    body{
        overflow: hidden;
    }
}